
/Projects/*/packages
/Projects/*/*/*/Styles/Backup/*
/Projects/*/TestResults
/Projects/*/*/[Bb]in
/Projects/*/*/obj
/Projects/*/*/App_Data/*
/Projects/*/*/App_Data
/Projects/CatalyzerDatabase/Catalyzer.dbsp
/Projects/CatalyzerDatabase/Catalyzer.xml
/Projects/CatalyzerDatabase/*/
!/Projects/CatalyzerDatabase/Catalyzer/
!/Projects/CatalyzerDatabase/CatalyzerLegacy/
/Projects/CatalyzerDatabase/*/*/Urns/
Projects/CatalyzerDatabase/*/Tables/*$.sql
Projects/CatalyzerDatabase/*/Tables/*_.sql
Projects/CatalyzerDatabase/*/Tables/Columns/*__Columns.xml
Projects/CatalyzerDatabase/*/Tables/Columns/*$_Columns.xml
Projects/CatalyzerDatabase/*/Users/Catalyzer.sql
*.suo
*.Publish.xml
*.csproj.user
*.csproj.vs10x
StyleCop.Cache
*.sass-cache*
*.orig
Projects/*/RemoteAssemblies/*
*.build